

/*  Header  */
.header_wrap.sticky {  
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: .4s;
}
.header_wrap .container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
    transition: .4s;
  }
  .header_menu ul { 
    padding: 0;
    list-style: none;
  }
  .header_menu ul li {
    margin-left: 10px;
    display: inline-block;
  }
  .header_menu ul li a {
    font-size: 17px;
    color: #222;
  }
  .header_wrap {
    background: #dfeef4;
  }

/*  Off canvas */
.off-canvas-wrapper {
    position: fixed;
    top: 0;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    right: -20%;
    text-align: left;

}
.off-canvas-wrapper.active {
    transform: none;
    opacity: 1;
    visibility: visible;
    right: 0%;
}
.off-canvas-inner {
  width: 400px;
  position: absolute;
  right: 0px;
  background: #f7e7e7;
  padding: 20px 20px;
  height: 100vh;
}
.log-in-content-wrap h2 {
  font-size: 25px;
  margin-top: 30px;
}
.form-input-item label {
  font-size: 15px;
}
.form-input-item input {
  width: 100%;
  margin-top: 10px;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #fff;
}
.form-input-item button {
  background: #333;
  color: #fff;
  padding: 5px 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  text-transform: uppercase;
}

.header-action button {
  background: transparent;
  border: none;
  color: #222;
  padding: 10px 10px;
}
.header-action button.btn-close {
  background: #333;
  color: #fff;
  border: none;
  float: right;
  padding: 4px 11px 6px;
}

.off-canvas-wrapper.active .off-canvas-overlay {
  opacity: 1;
  visibility: visible;
}
.off-canvas-overlay {
  background-color: rgba(0,0,0,.8);
  cursor: url( ../images/close.png),auto;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: .4s;
  height: 100%;
  width: 100%;
  z-index: -1;
}


  /*  Footer */
  .footer_section {
    margin-top: 100px;
    color: #fff;
    padding: 50px 0px; 
    width: 100%;
    background-color: #333;
}